a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;background:#efefef}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Start Styles */
body {
	font-family: 'Titillium Web', sans-serif;
	letter-spacing:.4px;
}
a {
	color:#7f9ca7;
	text-decoration:underline;
}
a:hover {
	color:#202f36;
}
header,
footer {
	color:#fff;
	text-align: center;
}
img {max-width:100%;}
strong {font-weight:bold;}
header {
	background: url('img/bg.png');
	background-size:cover;
	padding: 100px 0 25px;
	text-shadow: 0px -1px 6px #000;
}
header h2 {
	font-size:40px;
	line-height:45px;
}
header h3 {
	font-size:30px;
	line-height:35px;
}
.inner {
	max-width:600px;
	margin:0 auto;
}
section.content {
	padding:100px 30px 200px;
}
section.content h1 {
	font-size:30px;
	margin-bottom:20px;
}
section.content h3 {
	margin:20px 0;
	font-weight:bold;
}
section.content h3.hello {
	font-size:30px;
}
section.content p {
	line-height:25px;
	margin-bottom:20px;
}
section.content hr {
	border-top: 1px solid #e1e1e1;
	color:#fff;
}
section.content .teaser {
	max-width: 400px;
	margin: 0 auto 60px;
	text-align: center;
}
section.content .inner {
	background: #f9f9f9;
	border-radius: 20px;
	padding: 100px;
	-webkit-box-shadow: -1px -8px 52px -9px  rgba(169, 169, 169, 0.75);
	-moz-box-shadow: -1px -8px 52px -9px  rgba(169, 169, 169, 0.75);
	box-shadow: -1px -8px 52px -9px  rgba(169, 169, 169, 0.75);
}
section.social {
	margin-top:20px;
}
section.social ul li {
	display:inline-block;
	vertical-align: middle;
}
section.social ul li a {
	color:#fff;
	display:block;
	padding:10px 4px;
	font-size:26px;
}
section.social ul li a:hover {
	color:#a1c3d0;
}
footer {
	background:#202f36;
	padding:20px 0;
	font-size:11px;
	position:fixed;
	bottom:0;
	width:100%;

}
@media (max-width:775px) {
	section.content .inner {
		padding:50px;
	}
}

/* Nav */
section.nav {
	background:#202f36;
	width: 100%;
}
section.nav ul {
	text-align: center;
}
section.nav ul li {
	display:inline-block;
	margin:10px 20px;
}
section.nav ul li a {
	color:#fff;
	text-decoration:none;
}
/* Music Page */
.music header {
	background: url('img/music-dark-bg.jpg');
}
