body {
	background:#262626;
	font-family: verdana;
}
.utilitynav {
	background:rgb(0,0,0);
	width:100%;
}
.utilitynav a {
	display:block;
	color:#fff;
	font-size:12px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 14px;
}
wrap {
	width:1000px;
	height:650px;
	background:#000;
	display:block;
	margin:0 auto;
	position: relative;
	overflow:hidden;
}
/************** 
 * global 
 **************/
.s1,
.s2,
.s3,
.s4,
.s5 {
	position: relative;
	width: 100%;
	height: 100%;
}
/* hide all scenes */
.s2,
.s3,
.s4,
.s5 {
	display:none;
}
/* 
 * add cursor on hover 
 */
.s  {
	cursor:pointer;
}
/* no cursor */
.s2 .lefteye,
.s2 .righteye,
.s2 .throat {
	cursor:inherit;
}
/****************************************** 
 * s1
 ******************************************/
.s1 {
	background: url('img/splash_bg.png');	
}
.s1 .title {
	position: absolute;
	right: 50px;
	margin-top: 100px;
}
/****************************************** 
 * s2
 ******************************************/
.s2 .s {
	position: absolute;
}
/* z-index 999 */
.s2 .lefteye,
.s2 .righteye,
.s2 .tooth {
	z-index: 999;
}
.s2 .facebg {
	
}
.s2 .lefteye {
	margin-top: 30px;
	margin-left: 30px;
}
.s2 .righteye {
	position: absolute;
	right: 27px;
	margin-top: 30px;
}
.s2 .throat {
	margin: 310px 0 0 420px;
}
.s2 .tooth {
	width: 100px;
	height: 110px;
	background: #797979;
	margin-left: 120px;
	margin-top: 95px;
}